.container-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
   
}
.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content-modal-card{
    margin-top: 30px;
}
.content-modal-card h2{
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: .95;
  margin: 5px 0px;
}
.content-modal-card h3{
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-vino);
}
.description-card{
  font-family: "Inter", sans-serif;
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  max-height: 90px;
  overflow: auto;
}
.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background:#E3DBD1;
    border-radius: 15px;
    padding: 10px;
      color: var(--color-vino);
      min-height: 75px;
}
.price-normal{
    flex: 2.4;
    text-align: center;
    position: relative;
    height: 24px;
  
}
.price-normal p:nth-child(1){
    position: absolute;
    top:-20px;
    font-size: .8rem;
    text-transform: uppercase;
    width: 100%;
    height:18px;
  
}
.price-normal p:nth-child(2){
    font-size: 1.3rem;
    font-weight: 400;
    
}
.price-offer{
    flex: 3;
    text-align: center;
    border-left: 1px solid #ccc;
   min-height: 55px;
}
.price-offer p:nth-child(1){
    font-size: .8rem;
    text-transform: uppercase;
  font-weight: 600;
}
.price-offer span{
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.price-card p:nth-child(1){
    font-size:1.8rem;
    font-weight: 600;
}
.p-discuent{
    background: var(--color-vino);
    color: #fff;
    padding: 2px 4px;
    height: min-content;
    width: min-content;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
}


.quantity{
    width:min-content;
    display: flex;
    margin: 10px auto;

}
.quantity-value{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:4px;
    position: relative;
    z-index: 3;
}

.quantity-value span{
    font-size:.8em;
    color:#777;
    font-weight:500;
    position: absolute;
    right: 32px;
    bottom: 5px;
}
.quantity button{
    background: var(--color-vino);
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
}
.quantity button:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    position: relative;
    left: 10px;
}
.quantity button:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    right: 10px;
}
.quantity input{
    width: 110px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.3rem;
    height: 100%;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    font-weight: 600;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:12px 0;
    font-size: .9rem;
    gap: 5px;
}
.label svg{
    background: var(--color-vino);
    width: 25px;
    height: 25px;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
}

.btnAddCart{
    background: var(--color-vino);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.shipping{
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    font-size: .8rem;
    gap: 5px;
    margin: 10px 0px 5px 0px;
}
.shipping svg{
    width: 15px;
    height: 15px;
}
.lineThrough{
    text-decoration: line-through;
}

.margin-quantity{
    margin: 0;
    margin-left: -10px;
}
.quantity .paddingAndWidth{
    width: 90px;
}
.paddingAndWidth + span{
    right:23px;
}