.btnAddCart{
    background: var(--color-vino);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: .95rem;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    letter-spacing: .2px;
    font-family: "Inter", sans-serif;
    margin-top: auto;
}
.btnAddCart svg{
    width: 1.2rem;
    height: 100%;
}
