.cart-modal {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: "Inter", sans-serif;
  height: 100vh;
  border-radius: 16px 16px 0px 0px;
}

.cart-header {
  border-bottom: 1px solid #dadada;
  padding-bottom: 12px;
}

.cart-header h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.cart-header p {
  font-size: .9rem;
  margin-top: 3px;
}

/* Lista de productos */
.cart-products-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
  height: 310px;
}

.cart-item {
  display: flex;
  border-bottom: 1px solid #dadada;
  padding-bottom: 18px;
  min-height: 185px;
}

.cart-item-img-container {
  width: 98px;
  
  margin-bottom: 25px;

}

.cart-item-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.cart-item-info {
  flex: 6;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.cart-item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-item-top h3 {
  font-size: 1rem;
  line-height: 1.1;
}

.delete-btn {
  border: none;
  background: none;
  width: min-content;
  color: var(--color-vino);
  margin-left: auto;
  cursor: pointer;
}

/* Estructura interna del producto */
.cart-item-details {
  display: flex;
  height: 100%;
}

.price-kg-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kg-prices {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-original {
  width: min-content;
  color: #000000;
  font-size: 1rem;
  text-wrap: nowrap;
}

.price-offer-kg {
  color: var(--color-vino);
  font-weight: 700;
}

.discount-badge {
  font-size: .9rem;
  background: rgba(163, 206, 155, 0.237);
  width: min-content;
  padding: 1px 8px;
  border-radius: 10px;
  color: #157134;
}

.line-through {
  text-decoration: line-through;
  font-size: 0.9rem;
}

.quantity-selector {
  display: flex;
  justify-content: start;
}

/* Precios finales de la derecha */
.price-totals-container {
  width: 100%;
}

.price-totals-container p {
  font-size: .8rem;
  color: #555;
}

.price-before {
  color: var(--color-vino);
}

.price-before p:nth-child(2) {
  font-size: .9rem;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.price-now {
  color: var(--color-vino);
}

.price-now p {
  font-weight: 600;
  color: var(--color-vino);
}

.price-now h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--color-vino);
}

.price-now .savings-text {
  color: rgb(15, 90, 24) ;
  font-size: .7em ;
  font-weight: 600;
}

.price-totals-container p,
.price-totals-container h4 {
  width: min-content;
}
.price-totals-container h4 {
  font-size: 1rem;
}

/* Banner Informativo */
.cart-banner-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: .8rem;
  background: #faf5ef;
 
  border-radius: 16px;
  color: var(--color-vino);
}


.cart-banner-offer p {

  text-align: center;
}

/* Footer y Totales */
.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
}

.discount-amount {
  color: #157134;
}

.summary-divider {
  border: 0;
  border-top: 1px solid #dadada;
  margin: 0;
}

.total-row {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-vino);
}

/* Botones */
.btn-confirm {
  border: none;
  border-radius: 10px;
  background: var(--color-vino);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 14px 5px;
  font-size: .9rem;
  font-family: "Inter", sans-serif;
  letter-spacing: .3px;
  cursor: pointer;
}

.btn-clear {
  font-family: "Inter", sans-serif;
  padding: 14px 5px;
  border: none;
  border-radius: 10px;
  background: #EDE9E2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: .9rem;
  letter-spacing: .3px;
  cursor: pointer;
}

.shipping-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}
.none{
    display: none;
}