.product-card{
    display:flex;
    width:100%;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    position: relative;
}
.cart-off {
    display: flex;
    flex-direction: column;
    background: #76242D;
    position: absolute;
    left: 13px;
    padding: 10px 5px;
    border-radius: 16px 16px 26px 26px;
    color: white;
    gap: 2px;
    font-family: "Inter", sans-serif;
    /* 1. Borde INTERIOR (el que ya tenías) */
    border: 1px solid #FBD6AF; 
    top: -5px;
    /* 2. Borde EXTERIOR (un anillo extra por fuera) */
    /* Sintaxis: x-offset, y-offset, blur, spread, color */
    box-shadow: 0 0 0 2px #76242D; 
}
.cart-off{
    text-align: center;
    
}
.cart-off p:nth-child(1){
    display: flex;
    font-size: .5rem;
    gap: 5px;
}

.cart-off p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
    
}
.cart-off p:nth-child(3){
    font-size: .7rem;
    font-weight: 600;
}
.product-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    max-width:40%;
}

.product-info{
    padding:12px;
    width:100%;
    height:100%;
    max-height:197px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.product-info h3{
    font-family:serif;
    font-size:1.2rem;
    margin-bottom:5px;
    max-height: 44px;
    overflow: hidden;
}

.product-info p{
    color:#555;
    margin-bottom:10px;
    height: 36px;
    overflow: hidden;
}
.prices{
    display: flex;
    gap: 5px;
}
.prices span{
    margin: auto 0;
}
.prices span:nth-child(2){
    text-decoration: line-through;
}
.price{
    display:block;
    color:#4e2633;
    font-size:1.5rem;
    font-weight:bold;

    margin-bottom:10px;
}

.add-btn{
    width:100%;

    padding:10px;

    border-radius:10px;
    border:2px solid #4e2633;

    background:white;
    color:#4e2633;

    font-weight:bold;
}
.category-products{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
   
}
.category-products h2{
width: 100%;
flex:1;
}
.product-card:nth-child(1),
.product-card:nth-child(2) {
    flex-direction: column;
    flex: 2 ;
}
/* SELECCIÓN CORRECTA: Selecciona la imagen de la tarjeta 1 y de la tarjeta 2 */
.product-card:nth-child(1) img,
.product-card:nth-child(2) img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    max-width: none; /* Ahora sí se aplicará solo a las dos primeras */
}
