.modal-overlay{
    display:flex;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 20;
    overflow-y: auto;
    max-width: 430px;
}
.modal-content{
    display:flex;
    flex-direction:column;
    width:100%;
    min-height:100vh;
    background:#F8F4EE;
    padding:20px 15px 5px 15px;
    position:relative;
    font-family: sans-serif;
    overflow-y: auto;
    margin: auto;
}
.modal-close{
    position:absolute;
    color:var(--color-vino);
    right:10px;
    background:none;
    border:none;
    font-size:28px;
    cursor:pointer;
    top:18px;
    font-weight:100;
    display:flex;
    align-items:center;
    overflow: auto;
}

.paralelogramo {
  /* Dimensiones solicitadas */
  width: 90px;
  height: 55px; /* Altura sugerida para botones o etiquetas */
  position: absolute;
  /* Color institucional del menú */
  background-color: var(--color-vino); 
  
  /* El truco del paralelogramo: inclina -20 grados */
  transform: skewX(-40deg); 
  transform:rotate(-18deg);
  left: -15px; 
  top: 3px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px; /* Un toque sutil para suavizar las esquinas si querés */
}

.texto-paralelogramo {
 transform: skewX(30deg);
  transform:rotate(0deg);
  width:min-content;
  color: #f7f4ee; 
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  left: 10px; /* Ajusta según sea necesario */
}
.modal-header-container{
    height:30px
}
.modal-header-container h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.shipping-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  bottom: 10px;
  padding-top: 15px;
      margin-bottom: calc(env(safe-area-inset-bottom) + 16px);
}